*{
    margin: 0;
    padding: 0;   
}
.fundo{
    background-image: linear-gradient(45deg, black,crimson);
    height: 100vh;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);    
    border-radius: 15px;
    padding: 15px;
}
.botao{
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    color: aliceblue;
    border: none;
}

.botao-apagar{
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border: none;
}

.botao-igual{
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(43, 255, 0);
    color: aliceblue;
    border: none;
}

.botao-igual:hover{
    background-color: green;
}

.botao-apagar:hover{
    background-color: rgb(116, 4, 4);
}

.botao:hover{
    background-color: black;
}

#resultado{
    background-color: white;
    width: 228px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
